<script>
  var video_ids = <%= @video_ids.to_json.html_safe %>;
</script>

<div id='tailers_player'></div>
<div id='mask'></div>
<a href='javascript:void(0);' class="play_button" onclick='ytPlayer.playVideo();'></a>
