// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tailers_player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: calc(100vh + 110px);
  pointer-events: none;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
}
