// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tailers_player {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: calc(100vh + 110px);
  pointer-events: none;
}

#mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./mask.png");
}

.play_button{
  position: fixed;
  top: calc(50vh - 50px);
  left: calc(50vw - 50px);
  color: #000;
}

.play_button::before, .play_button::after {
  position: absolute;
  content: "";
}

.play_button::before {
  width: 140px;
  height: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  background: #fff;
}

.play_button::after {
  top: 25px;
  left: 50px;
  border: 25px solid transparent;
  border-left: 50px solid #000;
}
.play_button:hover:before {
  background: #ddd;
}

.play_button:hover:after {
  border-left: 50px solid #222;
}
